<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main.css">
    <title>TIMBALL</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{%url 'Home' %}" class="titulo">TIMBALL</a>
            </li>
            <li>
                <a href="{%url 'About' %}">Acerca de</a>
            </li>
            <li>
                <a href="{%url 'Login' %}">Iniciar Sesion</a>
            </li>
            <li>
                <a href="{%url 'Signup' %}">Registrarse</a>
            </li>
            <li>
                <div class="container-search">
                    <form method="POST" action="{% url 'Home' %}">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class = "boton">Buscar</button>
                    </form>
                </div>
            </li>
        </ul>
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <p>@INTELIGENCIA MURUCHi</p>
        <p>Para apostar debes tener más de 18 años y saber sus consecuencias. Tené cuidado al momento de apostar. El juego en exceso es perjudicial para vos y tus seres queridos.</p>
    </footer>

    <script type="text/javascript" src="../../js/scroll.js"></script>
</body>
</html>