{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<h1>Acerca de TIMBALL</h1>
<p>Timball es una plataforma de estadísticas y predicciones sobre partidos de futbol de la Liga Profesional Argentina. Podrás ver datos de los jugadores y entrenadores de los equipos a enfrentarse y sacar conclusiones del resultado.</p>
<h2>INTELIGENCIA MURUCHi</h2>
<p>Somos un equipo (o mejor dicho, un grupo de amigos con humor roto y pasión por la programación) formado en el Instituto Industrial Luis A. Huergo, de Ciudad de Buenos Aires, Argentina.</p>

<div class="artCont artMedio">
    <article>
        <img src="" alt="" height="225px" width="225px">
        <h3>Santino Nicolas Andreatta</h3>
        <p>Descripcion-Ejemplo</p>
    </article>
    <article>
        <img src="" alt="" height="225px" width="225px">
        <h3>Joaquin Berzunces</h3>
        <p>Descripcion-Ejemplo</p>
    </article>
    <article>
        <img src="" alt="" height="225px" width="225px">
        <h3>Nahuel Gaston Gonzalez Aran</h3>
        <p>Descripcion-Ejemplo</p>
    </article>
    <article>
        <img src="/img/developers/sm.jpg" alt="" height="225px" width="225px">
        <h3>Sebastian Daniel Marcos</h3>
        <p>Descripcion-Ejemplo</p>
    </article>
    <article>
        <img src="" alt="" height="225px" width="225px">
        <h3>Tomas Valentin Muruchi</h3>
        <p>Descripcion-Ejemplo</p>
    </article>
</div>

{% endblock %}