{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="bienvenida">
        <h1>
            TIMBALL
        </h1>
        <p>ESTADÍSTICAS DE FUTBOL</p>
    </div>

    <p class="aviso">Tené cuidado al momento de apostar. El juego en exceso es perjudicial para vos y tus seres queridos.</p>
    <h2 id="pagInicioPartidos">Partidos</h2>
    <div class="artCont artPartido">
        {% for fixture in fixtures %}
            <article>
                <h3 class="fecha">{{ fixture.Fecha }} - {{ fixture.Hora }}</h3>
                <p>Horario Argentina</p>

                <table class="tabEquipo">
                    <tr>
                        <td>{{ fixture.IdEquipoLocal.Nombre }}</td>
                        <td>vs.</td>
                        <td>{{ fixture.IdEquipoVisitante.Nombre }}</td>
                        
                    </tr>
                    <tr>
                        <td><img src="{{ fixture.IdEquipoLocal.Image_URL }}" alt="" width="200px" height="200px"></td>
                        <td><img src="{{ fixture.IdEquipoVisitante.Image_URL }}" alt="" width="200px" height="200px"></td>
                    </tr>
                </table>
                <table class="tabEstad">
                    <tr class="tabCabezal">
                        <td>Competencia</td>
                        <td>{{ fixture.IdEquipoLocal.Nombre }}</td>
                        <td>Empate</td>
                        <td>{{ fixture.IdEquipoVisitante.Nombre }}</td>
                        
                        <!-- Este resultado va a ser si la prediccion acerto o no con un ✔ --> 
                    </tr>
                    <tr>
                        <td><img width = "20px" height = "20px" src="{{ fixture.IdApiComp.Image_URL }}">{{ fixture.IdApiComp.Nombre }}</td>
                        {% for apuesta in apuestas %}
                            {% for apuesta_esp in apuesta %}
                                {% if apuesta_esp.IdApiFixture_id == fixture.IdApiFixture_id %}
                                    <td>{{ apuesta_esp.Porcentaje }}%</td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                </table>
                <ul class="filaBotones">
                    <li><a href="fixture_predicts/{{ fixture.IdApiFixture_id }}">Predicciones</a></li>
                    <li><a href="fixture/{{ fixture.IdApiFixture_id }}">Ver mas</a></li>
                </ul>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}