{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

<table class="tabEstad">
    <tr>
        <td>
            Equipo
        </td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>Escudo</td>
        <td>Fundación</td>
        <td>País</td>
    </tr>
    <tr>
        <td>{{ equipo.Nombre }}</td>
        <td><img src="{{ equipo.Image_URL }}" alt="Equipo" width = "200px" height = "200px"></td>
        <td>{{ equipo.Fundacion }}</td>
        <td>{{ equipo.Pais }}</td>
    </tr>
</table>

<table class="tabEstad">
    <tr>
        <td>
            <p>
                Estadio
            </p>
        </td>
    </tr>

    <tr>
        <td>Nombre</td>
        <td>Imagen</td>
    </tr>

    <tr>
        <td>{{ equipo.IdApiEstadio.Nombre }}</td>
        <td><img src="{{ equipo.IdApiEstadio.Image_URL }}" alt="Estadio" width="200px" height="200px"></td>
    </tr>
</table>

<table class="tabEstad">
    <tr>
        <td>
            <p>
                Jugadores
            </p>
        </td>
    </tr>
    {% for jugador in jugadores %}
        <tr>
            <td>{{ jugador.Nombre }}</td>
            <td><img src="{{ jugador.Image_URL }}" alt="{{ jugador.Nombre }}" width="50px" height="50px"></td>
            <td>{{ jugador.Posicion }}</td>
            <td>{{ jugador.Numero }}</td>
            <td>{{ jugador.Edad }} años</td>
        </tr>
    {% endfor %}
</table>

<div class="artCont artPartido">
    {% for fixture in fixtures %}
        <article>
            <h3 class="fecha">{{ fixture.fixture.Fecha }} - {{ fixture.fixture.Hora }}</h3>
            {% if fixture.fixture.Status == "Not Started" %}
            <p>No empezó</p>
            {% elif fixture.fixture.Status == "Time to be defined" %}
            <p>Tiempo a definir</p>
            {% elif fixture.fixture.Status == "Match Postponed" %}
            <p>Partido postpuesto</p>
            {% elif fixture.fixture.Status == "Match Cancelled" or fixture.fixture.Status == "Match Abandoned" or fixture.fixture.Status == "Match Suspended" %}
            <p>Partido cancelado</p>
            {% elif fixture.fixture.Status == "Match Finished" %}
            <p>Partido terminado</p>
            {% else %}
            <p>En juego</p>
            {% endif %}

            <table class="tabEquipo">
                <tr>
                    <td><a class="equipoLink" href="{% url 'Search' query=fixture.fixture.IdEquipoLocal.IdApiEquipo_id %}">{{ fixture.fixture.IdEquipoLocal.Nombre }}</a></td>
                    <td>vs.</td>
                    <td><a class="equipoLink" href="{% url 'Search' query=fixture.fixture.IdEquipoVisitante.IdApiEquipo_id %}">{{ fixture.fixture.IdEquipoVisitante.Nombre }}</a></td>
                    
                </tr>
                <tr>
                    <td><img class="escudo" src="{{ fixture.fixture.IdEquipoLocal.Image_URL }}" alt="" width="200px" height="200px"></td>
                    <td><img class="escudo" src="{{ fixture.fixture.IdEquipoVisitante.Image_URL }}" alt="" width="200px" height="200px"></td>
                </tr>
            </table>
            <table class="tabEstad">
                <tr class="tabCabezal">
                    <td>Competencia</td>
                    <td>{{ fixture.fixture.IdEquipoLocal.Nombre }}</td>
                    <td>Empate</td>
                    <td>{{ fixture.fixture.IdEquipoVisitante.Nombre }}</td>
                </tr>
                <tr>
                    <td><img width = "20px" height = "20px" src="{{ fixture.fixture.IdApiComp.Image_URL }}">{{ fixture.fixture.IdApiComp.Nombre }}</td>
                    {% if fixture.aplocal != "--"  %}
                    <td>{{ fixture.aplocal.Porcentaje }}%</td>
                    <td>{{ fixture.apemp.Porcentaje }}%</td>
                    <td>{{ fixture.apvis.Porcentaje }}%</td>
                    {% else %}
                    <td>{{ fixture.aplocal }}</td>
                    <td>{{ fixture.apemp }}</td>
                    <td>{{ fixture.apvis }}</td>
                    {% endif %}
                </tr>
            </table>
            <ul class="filaBotones">
                <li><a href="{% url 'Predicts' id=fixture.fixture.IdApiFixture_id %}" class="links">Predicciones</a></li>
                <li><a href="{% url 'Detalle' id=fixture.fixture.IdApiFixture_id %}" class="links">Ver mas</a></li>
            </ul>
        </article>
    {% endfor %}

    <div class="centrar">
        <iframe src="{{ equipo.IdApiEstadio.Direccion }}" width = "1000px" height = "750px" frameborder="0"></iframe>
    </div>
</div>

{% endblock %}