{% extends 'layouts/base.html' %}

{% block content %}

{% load static %}

<h2>Parsed requests</h2>
{% for product in products %}
    <div class="container">
        <p>Title: {{ product.title }}</p>
        <p>Price: ${{ product.price }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Category: {{ product.category }}</p>
        <img class="" src="{{ product.image }}" alt="Product image">
        <h3>Rating</h3>
        <ul>
            <li><p>Rate: {{ product.rating_rate }}/5</p></li>
            <li><p>Votes: {{ product.rating_count }}</p></li>
        </ul>
    </div>
{% endfor %}


{% endblock %}