@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body {font-family: "Josefin Sans", sans-serif;}
* {scroll-behavior: smooth;}


/* Testing */
/*html {
    height: 100%;
}*/

.space-beetwen{
    margin: 10px;
}
.titulo_sesion{
    margin-bottom: 100px;
}
.button-submit{
    margin-left: 25px;
    margin-top: 15px;
    background-color: #00ff5968;
}
.space-left{
    margin-left: 25px;
}
.titulo_sesion{
    padding: 10px;
    margin: 40px 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100%;
}
.container-terminos{
    display: flex;
    align-items: center;
    position: relative;
    right: 15px;
    margin-top: 10px;
}
.container-icons{
    display: flex;
    align-items: center;
}
.icons-img{
    position: relative;
    left: 50px;
}

.container-sesion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-transform: capitalize;
    background: linear-gradient(rgb(68, 68, 68),rgba(130, 123, 123, 0.731),rgba(68, 68, 68, 0.699)); 
    width: 900px;
    height: 700px;
    border: 2px solid rgb(167, 164, 164);
    border-radius: 10px;
    overflow: hidden;
}
.link_sesion a{
    color: white;
    text-decoration: none;
}
.fondoLogin{
    border-left-color: white;
    border-left: 2px solid;
    border-radius: 1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;    
}
.forms-data{
    width: 550px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.color1{
    background-color: #00571f;
    font-size: 15px;
    width: 70px;
}
.color2{
    background-color: green;
    font-size: 15px;
    width: 70px;
}
.lista-sesion{
    border: 1px solid;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    list-style: none;
    padding: 0;
}
ul li {
    list-style: none;
    padding: 5px 5px;
}
.input-checkbox{
    height: 20px;
    width: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    outline: none; 
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: #eee;
}
.input-checkbox:checked {
    background-color:transparent;
}
.input-checkbox:checked::after{
    content: "\2713";
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 8px;
    left: 2px;
} 
.terminos_text{
    font-size: 12px;
    text-decoration:underline;
}

.input-submit{
    font-family: "Josefin Sans";
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    height: 40px;
    width: 300px;
    color: white;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.501);
}
.input-normal{
    font-family: "Josefin Sans";
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.501);
}
/* body {background-image: url(/img/david-pisnoy-At5I1OSl_2M-unsplash.jpg); background-size: cover;} */

/* Navigation bar */

nav {
    /* background-color: rgba(255, 255, 255, 0.11); */

    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
    margin-left: 15px;
    margin-right: 15px;

    padding-top: 15px;
    padding-bottom: 15px;

    position: sticky;
    top: 15px;
    z-index: 100;

    border-style: solid;
    border-width: 1px;
    /* border-color: rgba(255, 255, 255, 0); */
    border-radius: 10px;

    backdrop-filter: blur(20px);
    /* box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0); */

    transition: 300ms;

    background-color: rgba(255, 255, 255, 0.034);

    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.596);
    border-color: rgba(255, 255, 255, 0.062);
}

/* html:not([data-scroll="0"]) nav {
    background-color: rgba(255, 255, 255, 0.034);

    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.596);
    border-color: rgba(255, 255, 255, 0.062);
} */

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 23px;
    font-size: 1rem;
    font-weight: 300;
}

nav .titulo {
    font-weight: 700;
}


/* Body & main content */

body {
    background: linear-gradient(0deg, rgba(27,27,27,1) 0%, rgb(4, 3, 7) 100%);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    transition: 700ms;
    margin: 0;
    height: 100%;
}

/* .bgDeco {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
    top: 0;
    margin: 0;
    background: rgb(9,9,121);
    background: linear-gradient(42deg, rgba(9,9,121,1) 0%, rgba(255,0,236,1) 100%);
    transition: 300ms;
} */

/* html:not([data-scroll="0"]) .bgDeco {
    opacity: 0%;
} */

section {
    margin-top: 35px;
    margin-bottom: 40px;
}

section .main {   
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
}

h3 {
    font-weight: 600;
}

p {
    font-weight: 300;
}

.bienvenida {
    background-image: url(../img/bg4.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    transition: 500ms;
}

.bienvenida h1 {
    font-weight: 700;
    font-size: 9rem;
    margin-top: 60px;
    margin-bottom: 0px;
    width: 100%;
}

.bienvenida p {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0px;
    text-align: center;
}

p.aviso {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.11);
    color: rgb(255, 156, 156);
    padding: 10px;
    font-style: italic;
    font-size: 1.1rem;
    border-radius: 10px;
}


/* Articles */

article {
    background-color: rgba(255, 255, 255, 0.034);

    padding: 20px;
    margin: 0px 0;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.062);
    border-radius: 10px;

    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.274);
}

.artCont {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
}

.artMedio article {
    width: 230px;
}

.artPartido article {
    width: 430px;
}

.artPartido article.anterior {
    background-color: rgba(255, 32, 32, 0.034);
    border-color: rgba(255, 115, 115, 0.062);
}

table {
    display: flex;
    justify-content: center;
}

.artPartido article table.tabEquipo {
    font-size: 1.7rem;
    font-weight: 700;
}

table.tabEquipo {
    font-size: 3rem;
    font-weight: 700;
}

.artPartido article h3 {
    font-weight: 300;
}

.artPartido article table.tabEquipo tr {
    display: flex;
    gap: 10px;
    justify-content: center;
}

table.tabEquipo tr {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

table.tabEstad {
    margin-top: 10px;
    margin-bottom: 30px;
}
table.tabScore {
    font-size: 3rem;
    font-weight: 700;
}

table.tabEstad tr td {
    background-color: rgba(0, 0, 0, 0.342);
    padding: 10px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.062);
    font-weight: 300;
    font-size: 1.3rem;
}

.artPartido article table.tabEstad tr td {
    font-size: 1rem;
    padding: 7px;
    border-style: none;
}

table tr.tabCabezal td {
    font-weight: 500;
}

ul.filaBotones{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: end;
    margin-bottom: 20px;
}

ul.filaBotones li{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 3px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
ul.filabotones a :hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.445);
}
ul.filaBotones li button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.445);
}


/* footer */

footer {
    background-color: rgb(15, 15, 15);
    margin: 0px;
    padding: 2px 20px;
}

/* andrea */

.apuestas{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
}

.desplegable{
    text-align: center;
}

.fecha{
    font-size: 2rem;
}
.links{
    text-decoration: none;
}

.centrar{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-search{
    position: relative;
    left: 550px;
    bottom: 1px;
}
.boton{
    background-color: #31834e;
    font-family: Josefin Sans;
    color: white;
    width: 100px;
    padding: 5px;
    border-color: rgb(158, 158, 158);
    border-radius: 20px;

}

.buscador{
    width: 200px; 
    padding: 5px;
    font-size: 16px;
    border: none; /* Eliminar bordes */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
    border-radius: 40px;
    border-color: rgb(158, 158, 158);
    font-family: Josefin Sans;
}

.equipoLink{
    text-decoration: none;
    color: white;
}
