<!DOCTYPE html>
{% extends 'layouts/base2.html' %}
{% load static %}

{% block content %}
    <main class="container">
        <div class="container-sesion">
            <div class="forms-data">
                <ul class="lista-sesion">
                    <li class="link_sesion color1">
                        <a href="{%url 'Login' %}">Login</a>
                    </li>
                    <li class="link_sesion color2">
                        <a href="{%url 'Signup' %}">Signup</a>
                    </li>
                </ul>
                <h1 class="titulo_sesion">INICIAR SESIÓN</h1>
                <form action="inicio_sesion"></form>

                    <label for="name">Nombre de Usuario</label>
                    <div class="container-icons">
                        <img src="../../static/img/icons/user.svg" alt="" width="25px" height="25px" class="icons-img">
                        <input type="text" name="name" id="name" placeholder=" Username"class="space-beetwen input-normal" required>
                    </div>
                    <label for="password">Contraseña</label>
                    <div class="container-icons">
                        <img src="../../static/img/icons/candado.svg" alt="" width="25px" height="25px" class="icons-img">
                        <input type="password" name="password" id="password" placeholder="********" class="space-beetwen input-normal" required>
                    </div>
                    <div class="button-submit">
                        <input type="submit" value="Ingresar" class="input-submit">
                    </div>
                </form>
            </div>
            <div class="fondoLogin">
                <img src="../../static/img/bg2.jpg" alt="" height="900px">
            </div>
        </div>
        
    </main>

{% endblock %}